doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title VIRTUALSTORE
  link(rel='stylesheet' href='/styles.css')
  link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
  script(src='https://kit.fontawesome.com/affcca99d0.js' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;600&family=Poppins:wght@300;400;500;600;700&display=swap' rel='stylesheet')
body
    block content
    br
    hr
    section.footer
        .container.text-center
            .row
                .col-md-3
                    h3 Useful Links
                    ul
                        li Coupons
                        li Blog Post
                        li Return policy
                        li Terms of use
                .col-md-3
                    h3 Company
                    ul
                        li About us
                        li Contact us
                        li Careers
                        li Affiliate
                .col-md-3
                    h3 Follow us
                    ul
                        li
                            i.fa.fa-facebook-official
                            | Facebook
                        li
                            i.fa.fa-twitter
                            | Twitter
                        li
                            i.fa.fa-linkedin
                            | Linkedin
                        li
                            i.fa.fa-youtube-play
                            | Youtube
                .col-md-3.footer-image
                    h3 Download App
                    img(src='/img/storeapp.jpg' alt='')
            hr
            p.copyright Copyright 2020 - COVID STORES
    script(src='/bootstrap/js/jquery-3.5.1.min.js')
    script(src='/bootstrap/js/popper.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/validation.js')
    script(src='/bootstrap/js/agentvalidation.js')