extends layout

block content
    .first-nav-bar
        .logo
            i.fa.fa-shopping-basket
            h4 COVID-STORE
            img(src='' width='125px' alt='')
        nav
            ul#MenuItems
                li
                    a.button(href='/index') Home
                li
                    a.button(href='/details') Products
                li
                    a.button(href='/about') About
                li
                    a.button(href='') Contact
            .dropdown
                button#dropdownMenu2.btn.btn-secondary.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Account
                .dropdown-menu(aria-labelledby='dropdownMenu2')
                    a.button.dropdown-item(href='/users/register') Register
                    a.button.dropdown-item(href='/users') Admin Login
                    a.button.dropdown-item(href='/sales/agentlogin') Agent Login

    .wrapper
        h3 Register
        .form-container
            form(action='/users/register' method="POST")
                .input-name
                    i.fa.fa-user.lock
                    input.name(type='text' name='name' placeholder='Name')
                .input-name
                    i.fa.fa-envelope.email
                    input.text-name(type='email' name='email' placeholder='Email')
                .input-name
                    i.fa.fa-lock.lock
                    input.text-name(type='password' name='password' placeholder='Create Password')
                .input-name
                    i.fa.fa-lock.lock
                    input.text-name(type='password' name='ConfirmPassword' placeholder='Confirm Password')
                .input-name
                    input.button(type='submit' value='Register')
            p.lead.mt-4
                | Have an Account? 
                a(href='/users') Login
